<h1>{{ artist.spotifyData.name }}'s Page</h1><br>
<img src="{{artist.spotifyData.images.0.url}}" alt="" style="width: 300px;">

<h3> Total Number of Followers on Spotify: <span class="bold">{{ artist.spotifyData.followers.total }}</span></h3>

<h2>Genres: {{artist.spotifyData.genres }}</h2>


{{!-- INSERT TOURS BELOW IF THEY EXIST --}}

{{#if artist.artistEvents.length}}

{{!-- REFERENCES EVENT OBJECT --}}
<h4> Next Concerts: {{artist.artistEvents.0.venue.location }}</h4> 
<h5> Date: {{artist.artistEvents.0.datetime }}</h5>
<h5> Tickets: <a href="{{ artist.artistEvents.0.offers.0.url }}">{{artist.artistEvents.0.offers.0.status }}</a> </h5> 

{{else}}
<h1>No tours available</h1>
{{/if}}