<h1>{{ artist.artist.name }}'s Page</h1><br>
<img src="{{artist.artist.images.0.url}}" alt="" style="width: 300px;">

<h3> Total Number of Followers on Spotify: <span class="bold">{{ artist.artist.followers.total }}</span></h3>

<h2>Genres: {{artist.artist.genres }}</h2>


{{!-- INSERT TOURS BELOW IF THEY EXIST --}}

{{#if artist.artistEvents}}

{{!-- REFERENCES EVENT OBJECT --}}
<h4> Next Concerts: {{artist.artistEvents.title }}</h4> 
<h5> Date: {{artist.artistEvents.start }}</h5>
<h5> Where: {{artist.artistEvents.entities.0.name }} | {{artist.artistEvents.entities.0.formatted_address }}</h5> 

{{else}}
<h1>No tours available</h1>
{{/if}}