<h1 class="center-h">{{ artist.spotifyData.name }}'s Page</h1>
<img class="center-h" src="{{artist.spotifyData.images.0.url}}" alt="" style="width: 300px;">

<h3 class="bold"> Followers on Spotify: <span class="fw-regular">{{ artist.spotifyData.followers.total }}</span></h3>

<h4 class="bold">Genres: </h4>
<ul class="genres">
{{#each artist.spotifyData.genres}}
<li> {{this }}</li>
{{/each}}
</ul>

{{!-- INSERT TOURS BELOW IF THEY EXIST --}}

{{#if artist.artistEvents.length}}
            {{!-- REFERENCES EVENT OBJECT --}}
            <h3 class="bold">Next Concerts:</h3>
            {{#each artist.artistEvents}}
                <h4 class="bold"> Location: <span class="fw-regular">{{venue.location }}</span></h4>
                <h5 class="bold"> Date: <span class="fw-regular">{{date datetime "DD/MM/YYYY,HH:mm" }}</span></h5>
                    {{#if offers.length}}                        
                          <h5 class="tickets"> Tickets: <a class="tickets tickets-available"href="{{ offers.0.url }}">{{offers.0.status }}</a> </h5><br>             
                    {{else}}         
                        <h5>No Tickets Available</h5><br>
                    {{/if}}
            {{/each}}
      {{else}}
      <h1>No tours available</h1>
{{/if}}