<br>
<img src="{{ searchResults.artist.image_url }}" alt=" {{ searchResults.artist.name }}" style="width: 300px;">
<h1> {{ searchResults.artist.name }} </h1>
<h2> {{ searchResults.venue.location }} | {{ searchResults.datetime }} </h2>